[package]
name = "vsmtp"
version = "0.1.0"
edition = "2021"

[dependencies]
smtp = { git = "https://github.com/stalwartlabs/mail-server", features = ["local_delivery"] }
utils = { git = "https://github.com/stalwartlabs/mail-server"}
directory = { git = "https://github.com/stalwartlabs/mail-server"}
jmap = { git = "https://github.com/stalwartlabs/mail-server"}
tokio = { version = "1.23", features = ["full"] }