name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-plugins:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18
      - uses: dtolnay/rust-toolchain@stable 
      - name: Build rust plugins
        run: cargo build --release --verbose
      - uses: mikefarah/yq@v4.40.5
        with:
          cmd: echo "WORKSPACES=$(yq -I=0 .workspaces package.json)" >> $GITHUB_ENV 
      - name: Build js plugins
        run: |
          yarn workspaces foreach -Apt install
          yarn workspaces foreach -Apt run build
      - name: zip rust and js plugin 
        run: zip static-files.zip target/release/libstatic_files.so static-files/web/dist/*.js
      - name: Sign plugins
        uses: thomasdesr/minisign-action@v1
        with:
          args: -Sm static-files.zip
          minisign_key: ${{ secrets.MINISIGN_KEY }}
         # password: ${{ secrets.MINISIGN_PASSWORD }}
      - run: ls
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: |
            smtp/config.toml
            smtp/etc/
            target/release/*.so
            static-files.zip
            static-files.zip.minisig
          if-no-files-found: error
