name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build smtp server
        run: cd smtp && cargo build --verbose
      - name: Run smtp server tests
        run: cd smtp && cargo test --verbose
      - name: Sign plugin
        uses: thomasdesr/minisign-action@v1
        with:
          args: -Sm smtp/target/debug/libsmtp_server.rlib
          minisign_key: ${{ secrets.MINISIGN_KEY }}
         # password: ${{ secrets.MINISIGN_PASSWORD }}
      - run: |
          ls
          echo foo
          ls smtp/target/debug
      - name: Upload the signature
        uses: actions/upload-artifact@v1
        with:
          name: artifacts
          path: |
            smtp/target/debug/libsmtp_server.rlib
            smtp/target/debug/libsmtp_server.rlib.minisig
