name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-plugins:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18
      - uses: dtolnay/rust-toolchain@stable 
      - name: Build rust plugins
        run: cargo build --release --verbose
      - name: Get js workspaces
        uses: mikefarah/yq@v4.40.5
        with:
          cmd: echo "WORKSPACES=$(yq .workspaces package.json)" >> $GITHUB_ENV      
      - name: Build js plugins
        run: |
          yarn workspaces foreach -Apt install
          yarn workspaces foreach -Apt run build
      - name: Sign plugins
        uses: thomasdesr/minisign-action@v1
        with:
          args: -Sm target/release/*.so
          minisign_key: ${{ secrets.MINISIGN_KEY }}
         # password: ${{ secrets.MINISIGN_PASSWORD }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: |
            smtp/config.toml
            smtp/etc/
            target/release/*.so
            target/release/*.minisig
          if-no-files-found: error
