name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-rust-plugins:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build plugins
        run: cargo build --release --verbose
      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@v2
        with:
          files: "package.json"
      - name: Run smtp server tests
        run: cargo test --verbose
      - name: Sign plugins
        uses: thomasdesr/minisign-action@v1
        with:
          args: -Sm target/release/*.so
          minisign_key: ${{ secrets.MINISIGN_KEY }}
         # password: ${{ secrets.MINISIGN_PASSWORD }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: |
            smtp/config.toml
            smtp/etc/
            target/release/*.so
            target/release/*.minisig
          if-no-files-found: error
  
  build-js-plugin:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18
      - name: Build js plugins
        run: |
          yarn
          yarn workspaces foreach -Apt run build
      - name: Sign plugins
        uses: thomasdesr/minisign-action@v1
        with:
          args: -Sm speedupdate/dist/out.js
          minisign_key: ${{ secrets.MINISIGN_KEY }}
         # password: ${{ secrets.MINISIGN_PASSWORD }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: |
            speedupdate/dist/out.js
            speedupdate/dist/*.minisig
          if-no-files-found: error
